.login-bg {
    background-image: url("../../images/block-chain.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
}

.content-wrapper{
    width: 50%;
}
.content-wrapper h3{
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.3rem;
    letter-spacing: 0.2rem;
}
.content-wrapper p{
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    line-height: 1.8rem
}
.left-side{
    display: flex;justify-content: center;
    height: 100vh;
    align-items: center;
}
.right-side {
    margin: 40px 30px;
    display: flex;
    align-items: center;
}


.login-box {
    background-color: white;
    padding: 20px 50px;
    border-radius: 10px;
    text-align: center;
}

.login-box h2 {
    color: rgb(122, 114, 114);
    margin-top: 20px;
}
.login-form{
    margin-top: 40px;
}
.login-form input {
    padding: 12px 8px;
    border: none;
    font-size: 16px;
    outline: 1px solid rgb(218, 213, 213);
    border-radius: 5px;
    margin: 7px 0;
}

.btn {
    margin-top: 30px;
}

.btn button {
    padding: 10px 0;
    width: 100%;
    border: none;
    background-color: rgb(50, 15, 146);
    color: white;
    font-weight: bold;
    font-size: 17px;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

.forget-password{
margin-top: 10px;
text-align: left;
margin-left: 30px;
padding: 5px 20px;
}
.forget-password a{
color: rgb(96, 96, 221);
text-decoration: none;
letter-spacing: 1px;
}

.login-icons{
    margin-top: 40px;
}

.icn{
    height: 30px;
    width: 30px;
    margin: 2px;
    padding: 2px;
    color: deepskyblue;
}

.new-user{margin-top: 5px;}
.new-user span{
color: rgb(31, 29, 29);font-weight: semi-bold;
}
.new-user a{
    color: blue;font-weight: bold;
    cursor: pointer;letter-spacing: 0.5px;padding: 2px;
}