.icn{
    height: 30px;
    width: 30px;
    color: white;
    cursor: pointer;
}
.menu span{
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin:20px;
}
.flex{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #151D3B;align-items: center;
}

.show-user{    position: fixed;
    top: 52px;
    right: 20px;
    border: 1px solid white;
    background: azure;
    padding: 2px;
}
.show-user h5{padding: 5px 2px;
    border-bottom: 1px solid;cursor: pointer;}

.show-user h5:hover{background-color: rgb(87, 160, 230);}

.side-bar{
max-width: 20%;padding: 20px;
background-color: #151D3B;
height: 87vh;position: fixed;
}
.name{
    color: white;padding: 5px;border-bottom: 1px solid white;
    margin-bottom: 30px;
    text-align: center;
    font-size: 15px;
}

.user-img {
display: flex;
justify-content: center;
}

.user-img img{
    width: 120px;border-radius: 60px;
}
.navbar-btn{
    margin: 10px 0;
    padding: 5px;
    border-bottom: 1px dotted gray;
    cursor: pointer;
}
.navbar-btn:hover{background-color: #1e1ec3b8;}

.navbar-btn span{
    color: white;
    font-weight: 500;
    margin-left: 5px;
    margin-top: 10px;
    /* border-left: 1px solid; */
    padding-left: 5px;font-size: 20px;
}
